# Generated
__pycache__/
*.pyc
.DS_Store
.coverage

# Local env
*.env
!.sample.env
docker-compose.override.yml
local.mk
local.md

# Local config
.vscode/

# Testing stuff
sandbox.py
.dockerignore
internal_notes.md

# TODO items:
oauth.py

